@model HotwiredBooks.ViewComponents.HeaderData

<turbo-frame class="header" id="books_heading">
    <h1 class="heading">Books (@Model.NumberOfBooks)</h1>

    <a class="new-book-link">New book</a>
</turbo-frame>
