@model HotwiredBooks.ViewComponents.HeaderData

<turbo-frame class="header" id="books_heading">
    <h1 class="heading">Books (@Model.NumberOfBooks)</h1>

    <a asp-controller="Books" asp-action="Create" data-turbo-frame="new_book" class="new-book-link">New book</a>
</turbo-frame>
