@model HotwiredBooks.ViewModels.HeaderViewModel

<h1 class="heading">Books (@Model.NumberOfBooks)</h1>

<a asp-controller="Books" asp-action="New" data-turbo-frame="new_book" class="new-book-link">New book</a>
