@model HotwiredBooks.ViewModels.BooksIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<turbo-frame class="header" id="books_header">
    <vc:header number-of-books="@Model.NumberOfBooks"/>
</turbo-frame>

<div class="books">
    <vc:books books="@Model.Books"/>
</div>
