@model HotwiredBooks.ViewComponents.TurboFrameViewComponent


<turbo-frame id="messages">
    <a href="/messages/expanded">
        Show all expanded messages in this frame.
    </a>

    <form action="/messages">
        Show response from this form within this frame.
    </form>
</turbo-frame>
