@model HotwiredBooks.ViewModels.BookViewModel

<turbo-frame id="book_@Model.Id">
    <div class="book">
        <p class="title">
            <strong>Title:</strong> @Model.Title
        </p>
        <p class="author">
            <strong>Author:</strong> @Model.Author
        </p>
        <div class="action-left">
            <form asp-page="/Index/Edit" method="get" class="button_to">
                <button class="button secondary" type="submit">Edit this book</button>
            </form>
        </div>
        <div class="action-right">
            <form asp-page="/Index/Delete" method="post" class="button_to">
                <button class="button danger" type="submit">Delete this book</button>
            </form>
        </div>
    </div>
</turbo-frame>
